[phases.setup]
nixPkgs = ["nodejs_22"]
aptPkgs = ["python3", "build-essential"]

[phases.install]
cmds = [
  "rm -rf node_modules package-lock.json .nuxt",
  "npm install --force"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node .output/server/index.mjs"